<!DOCTYPE html>
<html>

<head>
    <title>第一个自定义组件</title>
</head>

<body>
    <div id="app">
        <my-component></my-component>
        <my-tag></my-tag>
    </div>
    <script type="text/javascript" src="../plugins/vue/dist/vue.min.js"></script>
    <script type="text/javascript">
    var MyComponent = Vue.extend({
        template: '<h1>Hello Vue!</h1>'
    });

    Vue.component('my-component', MyComponent);
    Vue.component('my-tag', MyComponent);

    new Vue({
        el: '#app'
    });
    </script>
</body>

</html>
